<h2 class="text-center mb-5">Ma wishlist</h2>

    <div class="row justify-content-center mb-4 ">
        <p>Tous les voyages que je souhaite faire</p>

        {# {% for wish in wishlist.travel %}
        <div class="col-md-4">
            <div class="card mx-auto text-center mb-5" style="width: 18rem;">
                 <img src="/uploads/{{ wish.travel.image }}" class="card-img-top" alt="{{ wish.travel.place }}" style="height: 130px;">
                <div class="card-body">
                  <h5 class="card-title">{{ wish.travel.place }}</h5>
                  <p class="card-text">Notes à propos de ce voyage : </p>
                  <p class="bg-warning">{{ wish.notes }}</p> 
                  <a href="" class="btn btn-primary">Voir le voyage</a>
                </div>
            </div>
        </div>
        {% endfor %} #}
    </div>

