  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-11 mx-auto mt-3 mb-3">
          <a href={{ path('app_where_to_go') }}><div class="p-5" id="groupHero1" style="background-image: url('/uploads/hero1.jpg'); background-repeat: no-repeat; background-size: cover; background-position:center;">
            <h5 class="title1">Vacances</h5>
            <p>Partir cet été</p>
          </div></a>
        </div>
        <div class="col-11 mx-auto mt-3 mb-3 p-5" id="groupHero2" style="background-image: url('/uploads/hero2.jpg'); background-repeat: no-repeat; background-size: cover; background-position:center; height: 300px;">
          <h5 class="title2">RoadTrip</h5>
          <p>En toute liberté</p>
        </div>
        <div class="col-11 mx-auto mt-3 mb-3 p-5" id="groupHero3" style="background-image: url('/uploads/hero3.jpg'); background-repeat: no-repeat; background-size: cover; background-position:center; height: 200px;">
          <h5 class="title3">Plages paradisiaques</h5>
          <p>Farniente à volonté</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4 class="display-4 fw-bold">Besoin d'air frais ? </h4>
        <p class="lead mb-4">En couple ou en famille ? Pour un trekking ou un safari ? Plutôt culture ou aventure ? Découvrez plus de 8000 idées de voyage sélectionnées par nos agences locales spécialisées.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-lg px-4 me-sm-3">Décrouvrir toutes nos thématiques</button>
      </div>
      <div class="overflow-hidden mb-3" style="max-height: 30vh;">
      <div class="container">
        <img src="uploads/pic3.jpg" class="img-fluid rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>

    <div class="row">
      <div class="col-5 mt-3 mb-3 mx-3 mx-auto" id="groupHero4" style="background-image: url('/uploads/hero4.jpg'); background-repeat: no-repeat; background-size: cover; background-position:center; height: 400px;">
        <h5 class="title4">En pleine nature</h5>
        <p>Grands espaces</p>
      </div>
      <div class="col-5 mt-3 mb-3 mx-3 mx-auto" id="groupHero5" style="background-image: url('/uploads/hero5.jpg'); background-repeat: no-repeat; background-size: cover; background-position:center; height: 400px;">
        <h5 class="title5">Gastronomie</h5>
        <p>Saveurs d'ailleurs</p>
      </div>
    </div>
    
    </div>
    
  <div class="col-md-3">
    <div class="row">
      <div class="col-11 mx-auto mt-3 mb-3 p-5" id="groupHero6" style="background-image: url('/uploads/hero6.jpg'); background-repeat: no-repeat; background-size: cover; background-position:center; height: 600px;">
        <h5 class="title6">Rejoindre un groupe</h5>
        <p>Partir en petits comités</p>
      </div>
      <div class="col-11 mx-auto mt-3 mb-3 p-5" id="groupHero7" style="background-image: url('/uploads/hero7.jpg'); background-repeat: no-repeat; background-size: cover; background-position:center;">
        <h5 class="title7">Sportif</h5>
        <p>A deux roues</p>
      </div>
    </div>
  </div>
</div>
    
