<div class="row flex-lg-row-reverse align-items-center mt-5">
  <div class="col-10 col-sm-8 col-lg-6">
    <video src="/uploads/video2.mp4" class="d-block mx-lg-auto rounded"
      width="500"
      loading="lazy" autoplay loop muted></video>
  </div>
  <div class="col-lg-6">
    <h1 class="display-5 fw-bold lh-1 mb-3">
      Mieux voyager : où, comment, quand ?
    </h1>
    <p class="lead">
      Vous recherchez un voyage plus authentique et responsable ? 
      Découvrez les expériences insolites dénichées par nos experts et 
      expertes locales, nos conseils et bonnes pratiques pour voyager plus 
      en harmonie avec les cultures et les milieux naturels
    </p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
        Nos voyages
      </button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">
        Nos Agences partenaires
      </button>
    </div>
  </div>
</div>
