<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"> 
  <div class="col-lg-4 offset-lg-1 p-0 shadow-lg">
    <video src="/uploads/video7.mp4" class="d-block mx-lg-auto rounded"
      width="450"
      loading="lazy" autoplay loop muted></video>
  </div>
  <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
    <h1 class="display-6 fw-bold lh-1 text-end">
      Voyagez autrement, en co-créant votre voyage avec les meilleures agences locales en Europe et partout dans le monde
    </h1>
    <p class="lead text-end">
      Découvrez une nouvelle façon de préparer et de vivre votre voyage sur mesure. La clé : un dialogue en direct avec une sélection pointue d'agences locales.
    </p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4 mb-lg-3">
      <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">
        Nos meilleures agences
      </button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">
        Default
      </button>
    </div>
  </div>
</div>
