<h4 class="pb-2 mt-3 text-center">Pourquoi voyager avec AnyWhere ? ✈️</h4>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
  <div class="col p-5">
    <i class="fa-solid fa-map-location fa-2xl"></i>
    <div>
      <h4 class="fw-bold">Expertise locale</h4>
      <p>Une sélection d'agences francophones qui connaissent leur destination mieux que quiconque.</p>
    </div>
  </div>
  <div class="col p-5">
    <i class="fa-solid fa-screwdriver-wrench fa-2xl"></i>
    <div>
      <h4 class="fw-bold">100% sur mesure</h4>
      <p>Un voyage entièrement modulable : étapes, hébergements, activités...</p>
    </div>
  </div>
  <div class="col p-5">
    <i class="fa-solid fa-tags fa-2xl"></i>
    <div>
      <h4 class="fw-bold">Prix juste</h4>
      <p>Pour vous et pour toutes les personnes qui contribuent à la réussite de votre voyage.</p>
    </div>
  </div>
  <div class="col p-5">
    <i class="fa-solid fa-calendar-check fa-2xl"></i>
    <div>
      <h4 class="fw-bold">Garanties Evaneos</h4>
      <p>Evaneos assure votre voyage, de la préparation jusqu'à votre retour.</p>
    </div>
  </div>
  <button class="btn border-white text-white text-center mx-auto">Le concept AnyWhere</button>
  
</div>
