{% extends 'base.html.twig' %} {% block title %}AnyWhere{% endblock %} {% block
    body %}

<h2 class="text-center">Faisons connaissance !</h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at hendrerit lacus. Nam vel metus vel risus blandit sollicitudin sollicitudin sed augue. Donec blandit risus vitae nisl ultrices, vel sodales tellus fermentum. Nullam non lobortis arcu. Vestibulum gravida vehicula augue, in dictum purus laoreet ut. Sed egestas dignissim tortor, ut molestie augue convallis a. In eget arcu at lacus scelerisque feugiat vitae et massa. Mauris vulputate, ante ut placerat tincidunt, dolor odio laoreet risus, non scelerisque erat eros porta magna. Suspendisse at erat lacus.
            
                    Fusce sed lorem vel dui lacinia consectetur. Pellentesque maximus mollis arcu quis venenatis. In sed tincidunt urna. Fusce nibh lacus, dignissim a urna quis, laoreet ultrices ante. Sed eu luctus quam, id pellentesque tellus. Cras at consequat lectus. Aenean et leo dignissim, accumsan ipsum in, volutpat felis. Duis at erat ex. Mauris ullamcorper, enim ac congue efficitur, mi urna pharetra augue, vel tempor urna nunc sit amet enim. Donec ac enim semper, bibendum lorem id, porttitor lectus. Aliquam tempus leo ultrices nibh molestie, nec mattis ipsum varius. Proin sit amet lacus dolor. Vestibulum eget risus ultricies ex euismod sagittis. Nulla et nulla sem.
            
                     Nulla ut iaculis risus, non bibendum lacus. Mauris mi metus, rhoncus eget mauris non, ultrices consequat nunc. Donec sed orci molestie eros tristique sollicitudin. Proin euismod laoreet massa, a feugiat nibh ullamcorper a. Donec vitae pulvinar leo. Quisque semper orci sit amet ipsum maximus malesuada. Aenean nec accumsan tortor. Mauris quam leo, vehicula a eros in, malesuada volutpat mauris. Pellentesque consectetur aliquet mi, ac ultrices ante fermentum a. Donec congue erat a mauris interdum, quis elementum mi dictum. Sed vel mauris pulvinar, venenatis orci nec, vehicula enim. Proin mauris ex, cursus sit amet molestie id, luctus at neque. In efficitur elit enim, molestie egestas erat finibus nec. Vestibulum nec dapibus ex. Quisque a ultricies lacus.
                </p>
            </div>
        </div>
        <div class="row mb-5">
            <h3 class="text-center mb-5">Nos valeurs</h3>
            <div class="col-md-4">
                <div class="card mb-4 mx-auto mt-4 bg-warning bg-opacity-75 position-relative" style="width: auto; height: 300px;">
                    <div class="card-body">
                      <h5 class="card-title p-2">L’authenticité</h5>
                      <p class="card-text p-2">Nos histoires et parcours personnels rendent chacun de nous unique ! Evaneos respecte et accueille donc chaque personne avec tolérance et bienveillance, car nos différences sont une force.</p>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-handbag-fill position-absolute bottom-0 start-0 m-4" viewBox="0 0 16 16">
                        <path d="M8 1a2 2 0 0 0-2 2v2H5V3a3 3 0 1 1 6 0v2h-1V3a2 2 0 0 0-2-2zM5 5H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5H11v1.5a.5.5 0 0 1-1 0V5H6v1.5a.5.5 0 0 1-1 0V5z"/>
                      </svg>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 mx-auto mt-4 bg-warning bg-opacity-50 position-relative" style="width: auto; height: 300px;">
                    <div class="card-body">
                      <h5 class="card-title p-2">La collaboration</h5>
                      <p class="card-text p-2">Pour transformer le tourisme, nous travaillons tous ensemble ! En partageant ses expériences, même la communauté d’Evaneos participe à ce changement. Une contribution inestimable qui nous permet d’être plus efficaces, plus innovants et responsables.</p>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people-fill position-absolute bottom-0 start-0 m-4" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                        <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                      </svg>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 mx-auto mt-4 bg-warning bg-opacity-25 position-relative" style="width: auto; height: 300px;">
                    <div class="card-body">
                      <h5 class="card-title p-2">La confiance</h5>
                      <p class="card-text p-2">C’est notre maître mot ! En étant transparents avec vous sur l’impact, positif comme négatif, de nos voyages ainsi que les actions que nous menons pour améliorer cet impact, nous construisons une relation saine et durable</p>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-circle-fill position-absolute bottom-0 start-0 m-4" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                      </svg>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 mx-auto mt-4 bg-warning bg-opacity-10 position-relative" style="width: auto; height: 300px;">
                    <div class="card-body">
                      <h5 class="card-title p-2">La perséverance</h5>
                      <p class="card-text p-2">Apprendre du passé est essentiel pour améliorer l’avenir. Ensemble, nous nous engageons à essayer et à toujours persévérer.</p>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-tools position-absolute bottom-0 start-0 m-4" viewBox="0 0 16 16">
                        <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"/>
                      </svg>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 mx-auto mt-4 bg-warning position-relative" style="width: auto; height: 300px;">
                    <div class="card-body">
                      <h5 class="card-title p-2">La curiosité</h5>
                      <p class="card-text p-2">S’ouvrir à l’inconnu et à l’imprévisible est un privilège unique que seul le voyage procure. Ne l’oubliez jamais !</p>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-eye-fill position-absolute bottom-0 start-0 m-4" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                      </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}