{% extends 'base.html.twig' %}

{% block title %}AnyWhere{% endblock %}

{% block body %}
    <h1 class="text-center"><span>Any</span>Where</h1>
    <h2 class="text-center">Site de réservation de voyages en ligne</h2>
{% endblock %}
