{% extends 'base.html.twig' %}

{% block title %}Voyages{% endblock %}

{% block body %}
    <h2 class="text-center mb-5 mt-2">Veuillez sélectionner votre catégorie</h2>
    <div class="row category-container mb-5 mt-2">
        {% for category in category %}
            <div class="col-md-4 lg-shadow pb-5">
                <div class="category-item text-center">
                    <a href="{{ path('app_category_id', { 'id' : category.id }) }}"><img src="/uploads/{{ category.image }}" alt="{{ category.name }}" class="img-fluid w-75 border border-secondary"></a>
                    <h5 class="mb-2 mt-3">{{ category.name }}</h5>
                </div>
            </div>
        {% endfor %} 
    </div>
{% endblock %}
