<footer class="py-1">
    <div class="row justify-content-center px-5">
      <div class="col-6 col-md-2 mb-3 text-start">
        <h5>Société</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Accueil</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Qui sommes-nous ?</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Mentions légales</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Politique des cookies</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Confidentialité</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3 text-start">
        <h5>Communication</h5>
        <ul class="nav flex-column ">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Blog</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Partenaires</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Presse</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Services utiles</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Evènements</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3 text-start">
        <h5>Vous et nous</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Centre d'aide</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Recrutement</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Devenez agence locale partenaire</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">AnyWhere recrutement services</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Application Android</a></li>
        </ul>
      </div> 
      
    <!-- Block pour la newsletter -->
    {% block newsletter %}
        {{ include('footer/_newsletter.html.twig') }}
    {% endblock %}
      
    </div>


    <!-- Block pour le copyright -->
    {% block copyright %}
        {{ include('footer/_copyright.html.twig') }}
    {% endblock %}

    
  </footer>