/* Général */

* {
    margin: 0;
    padding: 0;
}

.card:hover {
    filter: drop-shadow(1px 1px 11px #455);
}

a {
    text-decoration: none;
    color: white;
}

li {
    text-decoration: none;
}

/* Pages des voyages */

#activities {
    margin-top: 20px;
    margin-bottom: 20px;
}

#activities input {
    margin-left: 10px;
}

#activities label {
    margin-left: 10px;
    font-weight: 500;
}

button {
    margin-right: 10px;
}

