{% extends 'base.html.twig' %} {% block title %}Voyage sur-mesure{% endblock %} {%
    block body %}

<h2>Trouvez le voyage qui correspond à vos envies</h2>
<p>Vous voulez partir mais vous ne savez pas encore où ?</p>
<p>Affinez votre recherche en sélectionnant les options qui vous conviennent</p>

{% endblock %}